branches:
  except:
  - gh-pages
  - book
language:
- c
os:
- linux
compiler:
- clang
- gcc
script: travis_wait 60 make all
notifications:
  email: false
  slack:
    secure: QnvgTzEnzFnk3QDD60fhDNCIEr9rWOZccS7iqkwB2qis94RqcIFK0tE5yrz9N2E7zBqoUc4iSVTQW6n+ol5/0vqY0i676d4cFN8Vm6pHwDEf80DBUaVMddxPS/oZHL/smJRE/jxJ2S6dF+UOxCXmhMZD/63PXzO6GERfpBcTCMFRy1ch13uN/mKXx9Hu+6Rn2Ouy3Wn0r444flg0o0wtBA5pYU8soo1J8jcGMLf14/7RlnKve/yLPS29/9SpG6nElWLjCztqS69odI5GvIjDHsfz+23g1znRq+61rjbIHrxzvBksB+MAWzBnr+LhUzdPp3TNbKrXZEp7g88zsiRUTzfyGE14SZM/AMiDxPAqODzp1p2K/qmIT846WE2k63Y622DP5RUy/RgMKzyFBOarohy3/PiFbBa9ccc76KgTWLl17IIEKC77d7wBvO7gA2KEOz+02NDJaIuyvQM3Ty0RriNd7FZYU+KZplOd/YY0m2J/A5O0shAuxZx0d4kaU9ycNo7M6UGNiAgxbHPeMF6vNuktKr5fsUXj5VdsysA0cfqo3JxzfinreLLMX4afqv8izEJR4/qNXrOTZ4FI/J4zQwEngKxyBILwAN+jViVmVIYf2XD0ptPE/IB566X1unBShZFO/u/aLwdMStHSA+6w71Adlty0sCD19YZGbC9g/ns=
