<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (2017-07-31 10:47)</string>
	<string>M7.3.1-5249-2</string>
	<string>G-r15-2DB09</string>
	<string>M7.3.1-5249-2</string>
	<string>G-r15-2DB09</string>
	<string>G-r16-2E164</string>
</array>
</plist>
