opensbi.tar.gz
opensbi

# Build artifacts
*.o
*.bin
*.elf
sbi_files.c
tools/asm_struct_macro_generator

# Generated linker scripts (except for template script)
*.ld
!payload_template.ld

# Generated assembler struct offset header
include/asm_offsets.h


# Allow machine specific .h-files
!*.h

# LSP
.clangd
compile_commands.json
